<%if @main %>
  <section class="hotnews">
    <% @main.each do |main|%>
    <%= render "stories/main", :main => main %>
    <% end -%>
  </section>
<% end -%>
<section class="news">
  <%= render @stories %>
</section>
<%= render "shared/sidebar", :populars => @populars, :subjects => @popular_subjects %>


