@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic-ext);
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px 'Ubuntu Condensed', Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
    background: url(/assets/bodybg.jpg) repeat-x scroll 0 0 #F5F6F7;
    height: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a:visited {
	color:#666666;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
    height: auto !important;
    margin: 0 auto;
    max-width: 1400px;
    min-height: 100%;
    min-width: 975px;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    height: 128px;
    margin: 0 auto;
    padding: 0 2%;
    width: 96%;
}

.topheader {

}

.enter {
    color: #FFFFFF!important;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 13px 0 0 10px;
}

.registration {
    color: #FFFFFF!important;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 13px 0 0 21px;
}

.loginwith {
    float: left;
    margin: 13px 0 0 53px;
}

.loginwith span{
    color: #ccc;
    float: left;
    font-size: 14px;
    letter-spacing: -0.08em;
    margin-right: 9px;
    margin-top: -1px;
    text-transform: lowercase;
}

.loginwith a {
    float: left;
    margin-right: 10px;

}

.addnews {
    background: none repeat scroll 0 0 #E5E1CC;
    color: #155FBF!important;
    float: right;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -0.03em;
    margin: 7px 38px 0 0;
    padding: 6px 16px 8px 18px;
    text-transform: lowercase;
	border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
}

.logo {
    clear: left;
    color: #FA5B3D !important;
    float: left;
    font-size: 47px;
    letter-spacing: -0.02em;
    line-height: 56px;
    margin: 23px 0 0 12px;
    text-decoration: underline;
    text-shadow: 2px 2px 0 #FFFFFF;
}


.menu {
    float: left;
    letter-spacing: -0.06em;
    margin: 32px 0 0 36px;
}

.menu ul {
	list-style:none;
}

.menu ul li {
    float: left;
    margin-right: 16px;
}

.menu ul li a {
    color: #333333;
    font-size: 21px;
	line-height:19px;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
    height: 1%;
    margin: 0 auto;
    padding: 0 2% 137px;
    position: relative;
    width: 96%;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
    overflow: hidden;
    width: 73%;
}

.hotnews {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FA5B3D;
	border-bottom:none;
    clear: both;
    float: left;
    width: 93%;
	margin-bottom:17px;
	box-shadow: 5px 5px 0 0 #C3361D;
    -moz-box-shadow: 5px 5px 0 0 #C3361D;
    -webkit-box-shadow: 5px 5px 0 0 #C3361D;
}

.hot-news {
    border-bottom: 4px solid #FA5B3D;
    overflow: hidden;
    padding-bottom: 17px;
}


.hotnews h1 {
    background: none repeat scroll 0 0 #FA5B3D;
    color: #FFFFFF;
    font-family: Trebuchet MS;
    font-size: 18px;
    padding: 6px 1% 10px;
}

.date {
    color: #666666;
    font-family: Trebuchet MS;
    line-height: 17px;
    margin: 9px 0 0 1%;
}

.ah1 {
    color: #1660BF;
    display: block;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -0.06em;
    line-height: 38px;
    padding: 0 1%;
}

.hot-news img {
   margin: 9px 1%;
   width:98%;
}

.copy {
    color: #999999;
    font-family: Trebuchet MS;
    margin: -9px 0 0 9px;
}

.counters {
    margin: 12px 0 0 11px;
}

.counters a {
	float: left;
}

.counters span {
    color: #666666;
    float: left;
    font-family: Trebuchet MS;
    font-size: 14px;
    line-height: 17px;
    margin: 3px 6px;
}

.counters .green {
	color:#339900;
}

.counters .classes {
    background: url("/assets/classes.png") no-repeat scroll center top transparent;
    height: 20px;
    width: 18px;
}
.counters .discuss {
    background: url("/assets/discuss.png") no-repeat scroll center top transparent;
    height: 20px;
    margin-left: 26px;
    width: 20px;
}
.counters .prosmotrov {
    background: url("/assets/prosmotrov.png") no-repeat scroll center top transparent;
    height: 12px;
    margin-left: 25px;
    margin-top: 5px;
    width: 20px;
}

.hot-news p {
    clear: both;
    color: #333333;
    display: block;
    float: left;
    font-family: Trebuchet MS;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 8px 13px;
}

.news {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #AAB3BA;    
    clear: both;
    float: left;
    margin-bottom: 17px;
    width: 93%;
	border-top:none;
	box-shadow: 5px 5px 0 0 #636D74;
	-moz-box-shadow: 5px 5px 0 0 #636D74;
	-webkit-box-shadow: 5px 5px 0 0 #636D74;
}

.newsblock {
    border-top: 5px solid #AAB3BA;
    overflow: hidden;
}
.newsblock .news_zagolovok {
    background: none repeat scroll 0 0 #D5DBDD;
    color: #333;
    display: block;
    font-size: 18px;
    padding: 6px 1% 8px;
    font-family: trebuchet MS;
	border-bottom: 1px solid #AAB3BA;
	float:none;
}
.news-block a:hover {
	color:#C3351C;
	text-decoration:underline;
}
.news-block {
    border-bottom: 1px solid #CCCCCC;
    overflow: hidden;
}


.newsblock h1 {
    background: none repeat scroll 0 0 #D5DBDD;
    color: #000000;
    font-family: Trebuchet MS;
    font-size: 18px;
    padding: 10px 0 10px 8px;
}

.news-block a {
    color: #1660BF;
    display: block;
    float: left;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.06em;
    line-height: 36px;
    padding: 0 1%;
}

.info {
    color: #333333;
    float: right;
    font-family: Trebuchet MS;
    margin: -27px 1% 0 0;
}

.newsdate {
    color: #666666;
    font-family: Trebuchet MS;
    line-height: 17px;
    margin: 7px 0 0 9px;
    float: left;
    width:100%;
}

.newsdate a {
    color: #666666;
    display: inline;
    float: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-decoration: none;
	line-height:17px;
}

.news-content img {
    float: left;
    margin: 1%;
    width: 98%;
}

.news-content {
	float:left;
	width:90%;
}

.newscounters {
    float: right;
    margin: 11px 14px 2px 2px;
}

.newscounters .newsprosmotrov {
    background: url("/assets/prosmotrov.png") no-repeat scroll center center transparent;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 12px;
    line-height: 17px;
    margin: 2px 4px 13px 0;
    padding: 0;
    width: 20px;
}
.newscounters .newsdiscuss {
    background: url("/assets/discuss.png") no-repeat scroll center top transparent;
    clear: both;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: -1px 4px 13px 0;
    padding: 0;
    width: 20px;
}
.newscounters .newsclasses {
    background: url("/assets/classes.png") no-repeat scroll center top transparent;
    clear: both;
    float: left;
    height: 20px;
    line-height: 26px;
    margin: -4px 6px 2px 0;
    padding: 0;
    width: 18px;
}
.newscounters .newsnoclasses {
    background: url("/assets/noclasses.png") no-repeat scroll center top transparent;
    clear: both;
    float: left;
    height: 20px;
    line-height: 26px;
    margin: 4px 6px 2px 0;
    padding: 0;
    width: 18px;
}

.newscounters span {
    color: #666666;
    float: left;
    font-family: Trebuchet MS;
    font-size: 14px;
    margin: 0;
}

.newscounters .green {
	color:#339900;
}
.newscounters .red {
	color:#FF3300;
}

.news-content h2 {
    clear: both;
    color: #999999;
    font-family: Trebuchet MS;
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 0 1%;
}

.news-content p {
    clear: both;
    color: #333333;
    display: block;
    float: left;
    font-family: Trebuchet MS;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 1% 13px;
    width: 98%;
}
.news-content p a {
    clear: both;
    color: #1660BF;
    display: inline;
    float: none;
    font-family: Trebuchet MS;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    margin: 0;
    padding: 0;
    width: 100%;
}




/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
    float: left;
    margin-left: -28%;
    margin-right: 13px;
    position: relative;
    width: 26%;
}

.reklama {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px dashed #CCCCCC;
    height: 280px;
    margin-top: 10px;
    width: 100%;
}
.reklama p {
	margin: -8px 0 0 5px;
}

.suzhets {
    background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    margin: 14px 0 0;
    padding-right: 10px;
    box-shadow: 4px 4px 0 0 #CCCCCC;
    -moz-box-shadow: 4px 4px 0 0 #CCCCCC;
    -webkit-box-shadow: 4px 4px 0 0 #CCCCCC;
}

.suzhets h1 {
    display: block;
    font-family: Trebuchet MS;
    font-size: 16px;
    margin: 12px 2px 9px;
    padding: 0 5px;
}

.suzhets hr {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #d2d3d3;
}

.suzhets a {
    color: #1660BF;
    display: block;
    font-family: Trebuchet MS;
    font-size: 14px;
    line-height: 17px;
    margin: 10px 2px 21px;
    padding: 0 5px;
}

.popular {
    float: right;
    margin-top: 37px;
}

.popular h1 {
    font-family: Trebuchet MS;
    font-size: 16px;
    margin-bottom: 10px;
}

.popular a {
    color: #155FBF;
    float: left;
    font-family: trebuchet MS;
    font-size: 13px;
    margin-bottom: 5px;
}
.popular div {
	position:relative;
	padding:3px 5px 0;
	overflow:hidden;
}
.popular div:hover {
	background:#fff;
    box-shadow: 1px 1px 0 0 #ccc;
    -moz-box-shadow: 1px 1px 0 0 #ccc;
    -webkit-box-shadow: 1px 1px 0 0 #ccc;
}


.popular p {
    color: #999999;
    font-family: Trebuchet MS;
    font-size: 11px;
}

.popularprosmotrov {
    background: url("/assets/glazik.png") no-repeat scroll center 3px transparent;
    float: left;
    height: 9px;
    margin: 0 4px 15px 0 !important;
    padding-bottom: 3px;
    width: 15px;
}

.social {
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px dashed #CCCCCC;
    float: right;
    height: 140px;
    margin-top: 20px;
    width: 100%;
}

.social a {
    clear: both;
    color: #573333;
    display: block;
    float: left;
    font-family: Trebuchet MS;
    font-size: 14px;
    margin: 16px 0 -16px 11px;
}

.social a img {
	margin-right:6px;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    background: url("/assets/footerpoloska.png") repeat-x scroll left top transparent;
    height: 120px;
    margin: -120px auto 0;
    padding: 0 2%;
    position: relative;
    width: 96%;
}

.copyright {
    float: left;
    margin: 20px 10px;
    width: 38%;
}

.copyright h2 {
    color: #333333;
    font-family: Trebuchet MS;
    font-size: 13px;
}

.copyright p {
    color: #333333;
    font-family: Trebuchet MS;
    line-height: 16px;
}

.footermenu {
    float: left;
    margin: 19px 30px 10px 11.4%;
}

.footermenu ul {
	list-style:none;
}

.footermenu ul li {
    margin-bottom: 7px;
}

.footermenu ul li a {
	display:block;
	color:#666;
	font-family:Trebuchet MS;
	font-size:13px;
}

.scetchiki {
    float: right;
    margin: 18px 8.6% 0 0;
}

.scetchiki a {
    margin-left: 21px;
}


.news_sltd {
    margin-bottom: 25px;
}
.news_sltd h2 {
    font-family: trebuchet MS;
    margin: 22px 23px 1px;
}

.news_sltd .news_zagolovok {
    background: none repeat scroll 0 0 #D5DBDD;
    border-top: 5px solid #AAB3BA;
    color: #145FBF;
    font-size: 21px;
    padding: 3px 0 8px 24px;
    text-decoration: underline;
	display:block;
}

.news_sltd .newsdate {
    color: #666666;
    font-family: Trebuchet MS;
    line-height: 17px;
    margin: 10px 0 0 25px;
}

.news_sltd h1 {
    color: #000000;
    display: block;
    font-size: 38px;
    line-height: 42px;
    padding: 3px 2%;
    text-decoration: none;
}

.news_sltd img {
    margin: 5px 2% 10px;
	width:96%;
}

.news_sltd p {
    font-family: trebuchet MS;
    font-size: 14px;
    line-height: 20px;
    margin: 0 22px 19px;
}
.news_sltd p a {
    font-family: trebuchet MS;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
	color:#145FBF;
}


.rating {
    background: none repeat scroll 0 0 #D5DBDD;
    border-bottom: 1px solid #BFBFBF;
    overflow: hidden;
}

.rate {
    color: #CC0000;
    float: left;
    font-family: trebuchet MS;
    font-size: 24px;
    margin: 3px 2px 0 26px;
}

.plus {
    display: block;
    float: left;
    margin: 5px 0 0 8px;
}

.minus {
    float: left;
    margin: 5px 50px 2px 0;
}

.share {
    float: left;
    margin: 12px 0 0;
}

.share span {
    display: block;
    float: left;
    font-family: trebuchet MS;
    font-size: 13px;
    line-height: 12px;
	margin-right: 5px;
}

.share a {

}

.comments {
    margin: 22px 22px 30px;
}

.comments h1 {
    float: left;
    font-size: 26px;
    letter-spacing: -0.04em;

}

.count {
    clear: right;
    color: #999999;
    display: block;
    float: left;
    font-family: Trebuchet MS;
    font-size: 21px;
    margin: 6px 15px;
}

.comment {
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
}
.comment_otvet {
    clear: both;
    margin-bottom: 10px;
    margin-left: 8%;
    overflow: hidden;
    width: 94%;
}


.comment .avatar {
    display: block;
    float: left;
    margin: 12px 1%;
    overflow: hidden;
    padding-right: 16px;
}
.comment_otvet .avatar {
    display: block;
    float: left;
    margin: 12px 1%;
    overflow: hidden;
    padding-right: 16px;
}

.avatar img {
    border: 1px solid #FFFFFF;
    box-shadow: 2px 2px 0 0 #CCCCCC;
    -moz-box-shadow: 2px 2px 0 0 #CCCCCC;
    -webkit-box-shadow: 2px 2px 0 0 #CCCCCC;
}

.comment div {
    float: left;
    width: 87%;
}
.comment_otvet div {
    float: left;
    width: 73%;
}

.comment .nick {
    color: #000000;
    display: block;
    float: left;
    font-family: trebuchet MS;
    font-size: 14px;
    font-weight: bold;
    margin: 7px 0 0;
}
.comment_otvet .nick {
    color: #000000;
    display: block;
    float: left;
    font-family: trebuchet MS;
    font-size: 14px;
    font-weight: bold;
    margin: 7px 0 0;
}

.comment .data {
    clear: none;
    color: #999999;
    float: left;
    font-family: trebuchet MS;
    font-size: 12px;
    line-height: 17px;
    margin: 8px 2px 2px 11px;
}
.comment_otvet .data {
    clear: none;
    color: #999999;
    float: left;
    font-family: trebuchet MS;
    margin: 8px 2px 2px 11px;
}

.comment div p {
    clear: both;
    font-family: trebuchet MS;
    font-size: 14px;
    line-height: 19px;
    margin: 4px 0 0;

}
.comment div p a {
    font-family: trebuchet MS;
    font-size: 14px;
    line-height: 19px;
    margin:0;
	color:#145FBF;

}
.comment_otvet div p {
    clear: both;
    font-family: trebuchet MS;
    font-size: 14px;
    line-height: 19px;
    margin: 4px 0 0;

}
.comment_otvet div p a {
    font-family: trebuchet MS;
    font-size: 14px;
    line-height: 19px;
	color:#145FBF;
    margin:0;

}

.comment_otvet .otvet {
    color: #145FBF;
    float: left;
    font-family: trebuchet MS;
    font-size: 13px;
    line-height: 24px;
}
.comment .otvet {
    color: #145FBF;
    float: left;
    font-family: trebuchet MS;
    font-size: 13px;
    line-height: 24px;
}

.newsnav {
    background: none repeat scroll 0 0 #AAB3BA;
    overflow: hidden;
    padding: 0 23px;
}

.prev {
    float: left;
    margin: 15px 0 4px;
    width: 33%;
	text-align:left;
}

.prev h2 {
    background: url("/assets/h2bg.png") no-repeat scroll left center transparent;
    color: #333333;
    font-family: trebuchet MS;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    padding-left: 11px;
}

.prev a {
    color: #155FBF;
    font-family: trebuchet MS;
}
.next {
    float: right;
    margin: -32px 0 4px;
    width: 33%;
	text-align:right;
}

.next h2 {
    background: url("/assets/h2bgr.png") no-repeat scroll right center transparent;
    color: #333333;
    font-family: trebuchet MS;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    padding-right: 11px;
}

.next a {
    color: #155FBF;
    font-family: trebuchet MS;
}

.rubrik {
    background: url("/assets/butbgf.png") repeat-x scroll left bottom transparent;
    color: #333333;
    display: block;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -0.04em;
    margin: 0 auto;
    padding: 10px 1px 12px;
    text-align: center;
    width: 200px;
    border-radius: 0 0 9px 9px;
    -moz-border-radius: 0 0 9px 9px;
    -webkit-border-radius: 0 0 9px 9px;
}

.profile {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #AAB3BA;    
    clear: both;
    float: left;
    margin-bottom: 17px;
    width: 93%;
	border-top:none;
    padding-bottom: 50px;
	box-shadow: 5px 5px 0 0 #636D74;
	-moz-box-shadow: 5px 5px 0 0 #636D74;
	-webkit-box-shadow: 5px 5px 0 0 #636D74;
}

.profile_comments {
    margin-bottom: 25px;
}

.profilemenu {
    background: none repeat scroll 0 0 #D5DBDD;
    border-top: 5px solid #AAB3BA;
    list-style: none outside none;
    overflow: hidden;
}

.profilemenu li {
	float:left;
}

.profilemenu li a {
    color: #135FBF;
    display: block;
    font-size: 21px;
    letter-spacing: -0.03em;
    line-height: 25px;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 10px;
    padding: 4px 12px 8px;
}

.profilemenu li a.active {
    background: none repeat scroll 0 0 #FFFFFF;
}

.news_add {
    color: #FA5B3D;
    float: right;
    font-size: 21px;
    line-height: 25px;
    margin-right: 20px;
    margin-top: -32px;
}

.profileh1 {
    color: #000000;
    font-size: 38px;
    letter-spacing: -0.04em;
    line-height: 42px;
    margin: 13px 21px;
}

.yournews {

}
.yournews_add {
	padding:0 20px;
}

.newsyour {
    margin-left: 23px;
}

.newsyour p {
    color: #333333;
    font-family: trebuchet MS;
    font-size: 13px;
    letter-spacing: 0.04em;
}

.news_zag {
    color: #135FBF;
    font-family: trebuchet MS;
    font-size: 16px;
    line-height: 22px;
    margin-right: 12px;
    font-weight: bold;
}

.suzhet_name {
    color: #666666;
    letter-spacing: -0.01em;
    margin-left: 4px;
}

.commentaries {
    margin-left: 23px;
}

.commentin {
    margin: -10px 0 28px;
}

.commentin p {
    color: #333333;
    font-family: trebuchet MS;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 6px;
}

.commentin .commentdate {
    color: #999999;
    font-family: trebuchet MS;
    font-size: 12px;
    margin: 0;
}


.newsaddpage {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #AAB3BA;    
    clear: both;
    float: left;
    margin-bottom: 17px;
    width: 98%;
	border-top:none;
	box-shadow: 5px 5px 0 0 #636D74;
	-moz-box-shadow: 5px 5px 0 0 #636D74;
	-webkit-box-shadow: 5px 5px 0 0 #636D74;
}

.zagolovok-news {
    color: #666666;
    display: block;
    font-family: Trebuchet MS;
    font-size: 14px;
    line-height: 17px;
    padding: 4px 0;
}

.zagolovok-news-input {
    font-family: trebuchet MS;
    font-size: 12px;
    line-height: 17px;
    margin: 0 0 20px;
    padding: 3px 0;
    width: 76%;
}


.kratko {
    color: #666666;
    display: block;
    font-family: Trebuchet MS;
    font-size: 14px;
    line-height: 17px;
    padding: 4px 0 9px;
}

.kratobut {
    font-family: trebuchet MS;
    font-size: 12px;
    margin: 0 0 3px;
    padding: 0 6px;
}

.kratkotext {
    height: 290px;
    width: 99%;
}

.newsaddbut {
    background: url("/assets/addnewsbut.png") no-repeat scroll center center transparent;
    border: medium none;
    display: block;
    height: 40px;
    margin: 19px 0;
    width: 110px;
}



.suget {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #AAB3BA;    
    clear: both;
    float: left;
    margin-bottom: 17px;
    width: 93%;
	box-shadow: 5px 5px 0 0 #636D74;
	-moz-box-shadow: 5px 5px 0 0 #636D74;
	-webkit-box-shadow: 5px 5px 0 0 #636D74;
}

.suget div {
	overflow:hidden;
}

.suget h1 {
    float: left;
    font-size: 38px;
    letter-spacing: -0.04em;
    line-height: 46px;
    padding: 5px 7px;
}

.share_suget {
    float: right;
    margin: 7px 40px 0;
    width: 95px;
}

.share_suget span {
    display: block;
    float: left;
    font-family: trebuchet MS;
    font-size: 13px;
    line-height: 12px;
    margin-bottom: 8px;
    margin-right: 5px;
}

.sugetp {
    color: #333333;
    float: left;
    font-family: Trebuchet MS;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 13px;
    margin-top: -12px;
    padding: 0 7px;
    width: 540px;
}

.newscounter {
    background: none repeat scroll 0 0 #AAB3BA;
    color: #FFFFFF;
    font-family: Trebuchet MS;
    font-size: 14px;
    line-height: 17px;
    padding: 11px 0 13px 7px;
}
.suget-block {
    overflow: hidden;
}
.suget-content {
    float: left;
    margin: 0 1%;
    width: 90%;
}

.suget-content img {
    float: left;
    margin: 1%;
    width: 98%;
}
.suget-block a {
	color: #1660BF;
    display: block;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.06em;
    line-height: 29px;
    padding: 0 1%;
}
.suget-block .newsdate {
    color: #666666;
    font-family: Trebuchet MS;
    font-size: 12px;
    line-height: 17px;
    margin: 7px 0 0 9px;
	width:100%;
}
.suget-block .newsdate a {
    color: #666666;
    display: inline;
    float: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-decoration: none;
	line-height:17px;
}

.suget-block .newscounters p {
    color: #666666;
    float: left;
    font-family: Trebuchet MS;
    font-size: 14px;
    margin: 0;
	clear:none;
}
.suget-block  p {
    clear: both;
    color: #333333;
    display: block;
    float: left;
    font-family: Trebuchet MS;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 13px;
}
.suget-block  p a {
    clear: both;
    color: #1660BF;
    display: inline;
    float: none;
    font-family: Trebuchet MS;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    margin: 0;
    padding: 0;
}